.info-book {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 60%;
  display: block;
  align-items:center;
  justify-content: center;
}

.book {
  width: 30%;
}

.container-map {
  height: 350px;
  width: 100%;
  margin-top:20px;
}

.map {
  margin-bottom:30px;
  padding:0px;
  height:379px;
  width: 100%;
}

.card-product-infos {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.09);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 40px;
  padding: 20px;
  border-radius:3%;
  width: 100%;
  height: 150px;
  background-color: #F7F4EF;
  // justify-content: space-between;
}

.ul1 {
  width:20%;
 }

.ul2 {
  width:auto;
 }

.ul3 {
  width:20%;
}

.container h2 {
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 20px;

}

.container h1 {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 40px;
  font-size: 30px;
 }

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.card-label
{
color: #50A2A7;
}

.card-product-infos li{
  margin-bottom:10px;
  overflow:hidden;
}
.card-product-infos ul {
  list-style: none;
  padding:0px;
}

 // bouton
.cta-book {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-book {
  box-shadow: 0 0 15px rgba(0,0,0,0.06);
  padding:20px;
  border-radius:3%;
  background-color: #F7F4EF;
}


#img-show > img {
  width: 100%;
}

.card-label  {
  text-overflow: ellipsis;
}

