.info-book {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 60%;

}

.book {
  width: 30%;
}

.container-map {
  height: 350px;
  width: 100%;
  margin-top:20px;
}

.map {
  margin-bottom:30px;
  padding:0px;
  height:100%;
  width: 100%;
}

.card-product-infos {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.06);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 40px;
  padding: 16px;
  border-radius:3%;
  position: relative;
}

.container h2 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.container h1 {
  text-align: left;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1rem;
 }

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.card-label
{
color: #50A2A7;
}

.card-product-infos li{
  margin-bottom:10px;
}
.card-product-infos ul {
  list-style: none;
  padding:0px;
}

 // bouton
.cta-book {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-book {
  box-shadow: 0 0 15px rgba(0,0,0,0.06);
  padding:20px;
  border-radius:3%;
}
