<footer class="page-footer font-small bg-primary pt-4">
  <div class="container-fluid text-center text-md-left text-white">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Vintage</h5>
        <p>Vinyls is what noble music phisically look like.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Informations</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">About us</a>
          </li>
          <li>
            <a href="#!">Company details</a>
          </li>
          <li>
            <a href="#!">How Groove works</a>
          </li>
          <li>
            <a href="#!">Terms</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Social media</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#!"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-end text-center py-3 text-white">© 2020 Copyright:
    <a href="#">Groove.com</a>
  </div>
</footer>
