<main>
  <section id="intro">
    <div class="figure-intro">
      <img class="circle-intro" src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/cactus_intro_circle.png" alt="">
      <img class="img-intro" src="assets/vinyl_green.png" alt="vinyl green">
    </div>

    <h1>Share And Rent <br> all of your <span class="uppercase accent">Vinyls</span> <br>With Our Community</h1>
  </section>

  <section class="products">
    <a id="products"></a>
    <h2 class="uppercase accent">Products</h2>
    <p>Golden Vinyls, Best of Music</p>

    <div class="img-product-group">
      <img class="img-product portrait" src="https://cdn.pixabay.com/photo/2019/05/06/13/47/record-4183139_1280.jpg" alt="Vinyl black and white">
      <img class="img-product landscape" src="https://cdn.pixabay.com/photo/2016/03/16/23/55/flea-market-1262036_1280.jpg" alt="Vinyl vintage big mouth">
      <img class="img-product landscape" src="https://cdn.pixabay.com/photo/2017/08/06/14/29/turntable-2593014_1280.jpg" alt="Vinyl turquoise">
      <img class="img-product portrait" src="https://cdn.pixabay.com/photo/2020/01/31/19/26/plate-4808793_1280.jpg" alt="Vinyl in wooden box">
      <div class="product-quote portrait">
        <p><span class="uppercase">Vinyl</span> Is The real deal. I've Always felt Like, Until You Buy The <br><span class="accent">Vinyl Record</span>,<br>You Don't Really Own The Album. It's Some Kind of retro romantic Thing From the Past. It is<br><span class="accent"> Still alive.</span></p>
        <p class="author">Georgito Copito</p>
      </div>
      <img class="img-product landscape" src="https://cdn.pixabay.com/photo/2019/12/28/18/08/records-4725349_1280.jpg" alt="Box full of vinyls">
      <img class="img-product landscape" src="https://cdn.pixabay.com/photo/2016/09/08/19/23/schell-corner-plate-1655188_1280.jpg" alt="Random photo">
      <img class="img-product portrait" src="https://cdn.pixabay.com/photo/2018/02/22/15/34/pile-3173270_1280.jpg" alt="Pile de Vinyles">
    </div>
  </section>

  <section class="features">
    <a id="features"></a>
    <h2 class="uppercase accent">Features</h2>
    <p>Why Choose Us</p>

    <div class="feature-group">
      <div class="feature">
        <img src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/feature_1.png" alt="">
        <h3>Premium service</h3>
        <p>Lorem ipsum color sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="feature">
        <img src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/feature_2.png" alt="">
        <h3>Large community</h3>
        <p>Duis aute irure color in reprehenderit in voluptate velit esse.</p>
      </div>

      <div class="feature">
        <img src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/feature_3.png" alt="">
        <h3>Vintage</h3>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in.</p>
      </div>
    </div>

    <div class="explore">
      <a class="button" href="#" target="_blank">Explore our Collections</a>
      <img src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/explore.png" alt="">
    </div>
  </section>

</main>
